<div class="center-items vh-100">
<nz-card [style]="{width: '280px'}" [nzCover]="coverTemplate">
  <ng-template #coverTemplate>
    <img alt="example" src="logo.jpg" />
  </ng-template>
  <form [formGroup]="loginFormGroup" nz-form  class="login-form" (ngSubmit)="submitLogin()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your E-mail!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="E-mail" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password"  />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" nzBlock [routerLink]="['/controle']" routerLinkActive="router-link-active"  >Log in</button>
  </form>
</nz-card>
</div>
