.content
{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 3rem;
  gap: 3rem;
  nz-list{
    width: 100%;

  }

  header{
    display: flex;
    justify-content: center;
    h2{
      width: 300px;
    }
    nz-select{
      width: 200px;
    }
  }
}

