.content {
  padding: 3rem;

  .card {
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      .row-grid {
        margin-top: 0.1rem;
        gap: 0.25rem;
        display: flex;
        align-items: center;
        span {
          width: 100%;
          font-weight: 500;

          background-color: #ececec;
          padding: 0.3rem;
          flex-grow: 0;
        }
        .label {
          min-width: 200px;
          max-width: 200px;
          background-color: #3e3e3e;
          font-weight: 700;
          color: #ffffff;
          flex-grow: 0;
        }
      }
    }

    .content-list{
      .header,.row-list{
        padding: 2px;
        display: flex;
        gap: 2px;
        font-weight: 700;
        text-transform: uppercase;

      }
      span{
        background-color: #ececec;
        padding: 0.2rem .5rem;
      }
      .header{
        margin-top: 2rem;
        span{
          background-color: rgb(66, 66, 66);
          color: #ececec;
        }
        .codigo{
          width: 15%;
        }
        .quantidade{
          width: 6%;
        }

        .descricao{
          flex-grow: 1;
        }
      }

      .row-list{
        .codigo{
          width: 15%;
        }
        .quantidade{
          background-color: rgb(158, 158, 158);
          width: 6%;
        }

        .descricao{
          flex-grow: 1;
        }
      }
    }
  }
}

#print-asm{
  font-size: 1.1rem;
}

.acoes{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
}
